# Logs
logs
*.log
npm-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies & build
node_modules
dist
dist-ssr
*.local

# Env
.env
.env.local
.env.*.local
